@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
:root{
    --background-deg0 : #fff;
    --background-deg1 : #F4F8FC;
    --background-deg2 : #EEEEEE;
    --background-deg4 : #333333;
    --txt0 : #000;
    --txt1 : #2f3542;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100vh;
    
    font-family: 'open sans', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    background-color: var(--background-deg0);
    scroll-behavior: smooth;
}
.container{
    width: 80%;
    margin: auto;
    background-color: var(--background-deg2);
}
#container-header{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    transition: .2s linear;
    z-index: 2;
}
.onScroll{
    background-color: var(--background-deg0);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
#logo img{
    width: 4em;
    margin-top: 10px;
}
header nav ul{
    list-style-type: none;
    margin: 0;
}
header nav li{
    float: left;
    padding: 13px 10px;
}
header nav a{
    text-decoration: none;
    font-size: .9em;
    color: var(--txt0);
    cursor: pointer; 
    position: relative;
}
header nav a::after{
    content: "";
    background-color: var(--txt1);
    width: 0%; 
    height: 2px;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: .2s linear;   
}
header nav a:hover::after{
    width: 100%;   
}
header nav a:hover{
    color: var(--txt1);   
}
#hero-section{
    height: 100vh;
    background-image: url(../Assets/img/bg.png);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
#main-title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(120px);
    animation: pop-up .5s linear;
}
#main-title h1{
    font-size: 2.6em;
    font-weight: 400;
}
#main-title p{
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .5em;
}
#what-is-it{
    height: 90%;
    background: var(--background-deg2);
}
#what-is-it span{
    color: var(--txt1);
}
.container-what{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify: auto;
}
#what-is-it h3{
    text-transform: uppercase;
    color: var(--txt1);
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
}
#what-is-it p{
    width: 600px;
    /* margin-bottom: 2%; */
}
#contributors .container{
    margin-top: 100px;
    height: 100%;
    background: var(--background-deg0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#contributors{
    height: 350px;
}

#contributors a{
    text-decoration: none;
    color: red;
}
#contributors i{
    font-size: 4em;
    margin-bottom: 50px;
    color: var(--background-deg4);
}
.card{
    width: 33%;
    text-align: center;
}
.card h4{
    font-size: 1.5em;
    font-weight: normal;
}
.card p{
    font-size: .9em;
    font-weight: 300;
    color: var(--txt1);
    margin-top: 10px;
}
#contact{
    height: 600px;
    background: var(--background-deg1);
}
#contact .container{
    height: 100%;    
    background: var(--background-deg1);
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#contact form{
    width: 100%;
}
#contact input, textarea{
    display: block;
    padding: 10px;
    border: 1px solid var(--txt1);
    width: 100%;
    min-width: 400px;
    margin: 10px 0;
}
#contact input[type='submit']{
    border: none;
    background-color: var(--background-deg4);
    color: var(--background-deg1);
    font-size: 1.3em;
    font-weight: 400;
}
#side-note{
    width: 40%;
    margin-left: 5%;
    font-size: 0.8em;
}
footer{
    padding: 12px;
    background: var(--background-deg4);
    color: var(--background-deg0);
    text-align: center;
}

@keyframes pop-up{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media (max-width: 600px) {
    header{
        width: 100%;
    }
    header nav{
        display: none !important;
    }
    #logo {
        margin-left: 45%;
    }
    #contributors .container{
        margin-top: 80px;
        margin-bottom: 80px;
        height: 92%;
        background: var(--background-deg0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .card {
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    #what-is-it p{
        width: auto;
        margin-bottom: 2%;
        font-size: 0.9em;
        font-weight: 300;
    }
    #main-title{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(120px);
        animation: pop-up .5s linear;
    }
    #main-title h1{
        font-size: 1.8em;
        font-weight: 500;
    }
    #main-title p{
        font-size: 0.8em;
        font-weight: 400;
        letter-spacing: .5em;
    }
    #contributors{
        height: 200%;
    }
    #contact input, textarea{
        display: block;
        padding: 10px;
        border: 1px solid var(--txt1);
        width: 100%;
        min-width: 80%;
        margin: 10px 0;
    }
    #contributors i{
        font-size: 4em;
        margin-bottom: 25px;
        color: var(--background-deg4);
    }
    #contact {
        height: 100%;
    }
    #contact .container{
        height: 100%;    
        background: var(--background-deg1);
        padding-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    #side-note{
        width: 100%;
        margin-left: 0;
        margin-bottom: 2%;
        font-size: 0.8em;
        font-weight: 200;
    }
}




