footer{
    width: 100%;
    margin-top: 5rem;
    #emailPanel{
        text-align: center;
        padding: 3rem 0;
        background-color: $red;
        border-radius: 1rem;
        position: relative;
        margin-bottom: -2rem;
        z-index: 2;
        h3{
            font-size: 2rem;
            font-weight: 400;
        }
        label{
            display: flex;
            flex-direction: row;
            width: 500px;
            margin-left: 50%;
            transform: translateX(-50%);
            input{
                padding: .5rem 1rem;
                width: 80%;
                border: none;
                border-right: 1px solid $dark-1;
            }
            button{
                font-size: 1.3rem;
                border: none;
                background-color: $light-color;
                color: $dark-1;
                padding: 0 .5rem;
                span{
                    font-size: 1rem;
                }
            }
        }
    }
    p{
        text-align: center;
        background-color: $dark-1;
        padding-top: 5rem;
        padding-bottom: 1rem;
    }
}