$blue: #00C0FF;
$red: #F65164;
$light-color: #fff;
$purple: #B55BF9;
$purple-dark: #795EFC;
$dark-1: #25294A;
$dark-2: #202442;
$dark-3: #0A002A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    font-family: Roboto,Arial, Helvetica, sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    height: 90vh;
    background-color: $dark-3;
    color: $light-color;
}
.container{
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
}
// REUSABLE
.flexDisplay{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
// COMPONENT
.externalLink{
    cursor: pointer;
    a{
        text-decoration: none;
        color: $red;
        span{
            font-size: 1rem;
            padding-left: .5rem;
        }
        &:hover{
            background-color: $red;
            color: #fff;
        }
    }
}

.mainButton{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $blue;
    width: fit-content;
    padding: .5rem 1rem;
    border-radius: 1rem;
    a{
        text-decoration: none;
        color: $light-color;
        font-size: 2rem;
        font-weight: 600;
    }
    span{
        font-size: 2.5rem;
        display: inline-block;
        padding-left: 1rem
    }
    &:hover{
        box-shadow: 1px 1px $light-color;
    }
}

// EXTERNAL STYLES
@import "./heroSection";
@import "./mainNavigation";
@import "./vt";
@import "./discordCommunity";
@import "./footer";

img{
    width: 100px;
}

